#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.formContent {
  margin: 2rem auto;
  padding: .8rem 1.5rem 1.5rem;
  width: 410px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  border: 1px solid red;
  border-radius: 5px;
  
}

.formContent div {
  display: flex;
  gap: 1rem
}

.formContent label {
  width: 135px;
  text-align: left;
}

.formContent input {
  width: 250px;
}

.formContent button {
  width: 410px;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
